<style>
th, td {
  padding: 10px;
}
th {
  text-align: right;
}
</style>

<h1>Create User:</h1>

<%= form_tag(nil, method: "post") do %>

<table>
  <tbody>
    <tr>
      <th><%= label_tag(:fullname, "Full Name:") %></th>
      <td><%= text_field_tag(:fullname, nil, :required => true) %></td>
    </tr>
    <tr>
      <th><%= label_tag(:username, "Username:") %></th>
      <td><%= text_field_tag(:username, nil, :required => true) %></td>
    </tr>
    <tr>
      <th><%= label_tag(:password, "Password:") %></th>
      <td><%= text_field_tag(:password, nil, :required => true) %></td>
    </tr>
    <tr>
      <th><%= label_tag(:status, "Status:") %></th>
      <td><%= check_box(:status, nil, placeholder: "") %></td>
    </tr>
    <tr>
      <th></th>
      <td><%= submit_tag("Create") %></td>
    </tr>
  </tbody>
</table>

<% end %>