<style>
th, td {
  padding: 10px;
}
th {
  text-align: left;
}
</style>

<h1>All Users</h1>

<% if !@users.empty? %>
<table>
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Username</th>
      <th>Password</th>
      <th>Status</th>
      <th>Delete</th>
      <th>Update</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.fullname %></td>
    <td><%= user.username %></td>
    <td><%= user.password %>...</td>
    <td>
    <% if user.status? %>
      <p>Active</p>
    <% else %>
      <p>Inactive</p>
    <% end %>
    </td>
    <td><a href="/user/delete/<%= user.id %>">Delete</a></td>
    <td><a href="/user/update/<%= user.id %>">Update</a></td>
  </tr>
  <% end %>
  </tbody>
</table>
<% else %>
  <p>No User found.</p>
<% end %>

<br/>
<a href="/user/create">Create New</a>
