<style>
th, td {
  padding: 10px;
}
th {
  text-align: right;
}
</style>

<h1>User Created or Modified</h1>

<table>
  <tbody>
    <tr>
      <th>Fullname:</th>
    <td><%= @user.fullname %></td>
    </tr>
    <tr>
      <th>Username:</th>
      <td><%= @user.username %></td>
    </tr>
    <tr>
      <th>Password:</th>
      <td><%= @user.password %></td>
    </tr>
    <tr>
      <th>Status:</th>
      <td><%= @user.status %></td>
    </tr>
  </tbody>
</table>

<br/>
<a href="/user/show">View All</a> -
<a href="/user/update/<%= @user.id %>">Modify</a>